# dataset
/codes/data/*

# cache
*.pyc

# model
*.pth

# log files
*.log

# vscode settings
.vscode/*

# libtorch
/libtorch/*

# Cmake
/codes/mnist_classification/build/*
CMakeLists.txt
/codes/example/extension/*