# vscode config files
/.vscode/*

# dataset
/codes/data/*

# cache
*.pyc

# model
*.pth

# log files
*.log

# build items
/codes/example/extension/build/*
/codes/example/extension/dist/*
/codes/mnist_cnn/extension/build/*
/codes/mnist_cnn/extension/dist/*
*.egg-info